{{#each control in controls}}
    {{#if template}}
        {{yield}}
    {{else}}
        <div class="form-group {{control.width}}">
            <label>{{control.label}}</label>
            {{view "select"
            content=control.content
            selection=control.selection
            optionValuePath=control.optionValuePath
            optionLabelPath=control.optionLabelPath
            class = "form-control"
            prompt=control.prompt
            disabled=control.disabled
            }}
            <p class="help-block"></p>
        </div>
    {{/if}}
{{/each}}
