<div class="panel panel-default">
    <div class="panel-heading">Example Using Bootstrap Styling</div>
    <div class="panel-body">
      {{#aupac-cascading-select items=items store=store action=(action (mut finalSelection)) as |control|}}
          <div class="form-group {{control.extras.width}}">
              <label>{{control.extras.label}}</label>
            {{view "select"
            content=control.content
            selection=control.selection
            optionValuePath=control.optionValuePath
            optionLabelPath=control.optionLabelPath
            class = "form-control"
            prompt=control.prompt
            disabled=control.disabled
            }}
          </div>
      {{/aupac-cascading-select}}

        <div class="row">
            <div class="col-xs-12">
                <h2>You selected : {{finalSelection.name}}</h2>
            </div>
        </div>
    </div>
</div>

{{!-- Wait until prototype extension are working.
<div class="panel panel-default">
    <div class="panel-heading">Using ember-x-select (for ember 2.0 when Ember.Select is removed)</div>
    <div class="panel-body">
      {{#aupac-cascading-select items=xSelectItems store=store action=(action (mut xSelectResult)) as |control|}}
          <div>
              <label>{{control.label}}</label><br>
            {{x-select
            multiple=false
            content=control.content
            selection=control.selection
            optionValuePath=control.optionValuePath
            optionLabelPath=control.optionLabelPath
            prompt=control.prompt
            disabled=control.disabled
            }}
          </div>
      {{/aupac-cascading-select}}

        <div class="row">
            <div class="col-xs-12">
                You selected : {{xSelectResult.name}}
            </div>
        </div>
    </div>
</div>
--}}





