<div class="well">
    Checkout the controller source code <a href="https://github.com/aupac/ember-aupac-cascading-select/blob/master/tests/dummy/app/controllers/application.js">here</a><br>
    Checkout the template source code <a href="https://github.com/aupac/ember-aupac-cascading-select/blob/master/tests/dummy/app/templates/application.hbs">here</a>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Example Using Bootstrap Styling</div>
    <div class="panel-body">
      {{#aupac-cascading-select items=items action=(action (mut finalSelection)) as |control|}}
          <div class="form-group {{control.extras.width}}">
              <label>{{control.extras.label}}</label>
            {{view "select"
            content=control.content
            selection=control.selection
            optionValuePath=control.optionValuePath
            optionLabelPath=control.optionLabelPath
            class = "form-control"
            prompt=control.prompt
            disabled=control.disabled
            }}
          </div>
      {{/aupac-cascading-select}}

        <div class="row">
            <div class="col-xs-12">
                <h2>You selected : {{finalSelection.name}}</h2>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Using <a href="https://github.com/thefrontside/emberx-select">emberx-select</a> (for ember 2.0 when Ember.Select is removed)</div>
    <div class="panel-body">

      {{#aupac-cascading-select items=selectXitems action=(action (mut finalSelectXSelection)) as |control|}}
          <div class="form-group {{control.extras.width}}">
              <label>{{control.extras.label}}</label>
            {{x-select action=(action (mut control.selection))
            multiple=false
            content=control.content
              selection=control.selection
            optionValuePath=control.optionValuePath
            optionLabelPath=control.optionLabelPath
            prompt=control.prompt
            disabled=control.disabled
            class="form-control"
            }}
          </div>
      {{/aupac-cascading-select}}

        <div class="row">
            <div class="col-xs-12">
                * Note: <small>For this to work I needed to override the optionValuePath to be 'content' instead of 'content.id'</small><br>
            </div>
            <div class="col-xs-12">
                <h2>You selected : {{finalSelectXSelection.name}}</h2>
            </div>
        </div>
    </div>
</div>





